*{
    margin: 0;
    padding: 0;
}
body,html{
    width:100%;
    height:100%;
    overflow: hidden !important;
}
#contentdiv{
    width:100%;
    height:100%;
}
#startdiv{
    width: 100%;
    height: 100%;
    background: url(../image/开始背景.png) center no-repeat;
    background-size:cover;
}
button{
    outline: none;
}
#startdiv button{
    position: absolute;
    top:80%;
    left: 50%;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c4c9ca;
    transform:translate(-50%,0);
}
#maindiv{
    width: 100%;
    height: 100%;
    background:url(../image/background_1.png) center no-repeat;
    background-size:cover;
    display: none;
}
#maindiv img{
    position: absolute;
    z-index: 1;
}
#scorediv{
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 100;
}
#scorediv{
    font-size: 18px;
    font-weight: bold;
}
#suspenddiv{
    position: absolute;
    top: 50%;
    left:50%;
    display: none;
    z-index: 2;
    transform:translate(-50%,-50%);
}
#suspenddiv button{
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #c4c9ca;
}
#ourplan{

}
#enddiv{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    background-color:#d7ddde;
    transform:translate(-50%,-50%);
    display: none;
    z-index: 2;
}
.plantext{
    width: 160px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}
#planscore{
    width: 160px;
    height: 80px;
    line-height: 80px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 16px;
    font-weight: bold;
}
#enddiv div{
    width: 160px;
    height: 50px;
}
#enddiv div button{
    margin-top:10px ;
    width: 90px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
}
